/*
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor porttitor lorem in commodo. Donec vulputate, ipsum nec tincidunt suscipit, metus eros luctus quam, at imperdiet leo orci commodo ipsum. Vivamus orci diam, pulvinar sed posuere nec, posuere et elit. Sed vitae elementum dolor. In dignissim nisl felis, ut egestas neque bibendum suscipit. Phasellus scelerisque tortor nec mauris laoreet dignissim. Mauris viverra sem in sodales sagittis. Integer laoreet, tortor sed elementum vulputate, sem risus consequat mauris, et mollis risus odio eu erat. Aenean ut fringilla metus. Quisque quis volutpat eros, vel viverra nibh. Fusce a mi eget erat pulvinar consequat.

Curabitur iaculis imperdiet accumsan. Cras metus dolor, posuere nec odio quis, pretium iaculis diam. Curabitur vehicula nibh ipsum, ut bibendum nulla dignissim tincidunt. Pellentesque pellentesque vel orci sed eleifend. Vestibulum faucibus neque nec leo bibendum, in malesuada mauris gravida. Vestibulum nec rutrum nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nec rutrum arcu. Suspendisse ac justo ac risus pretium ullamcorper. Suspendisse non ipsum sagittis, facilisis risus eget, venenatis neque. Fusce eget augue est. Maecenas eget mauris enim. Fusce sed est aliquet, hendrerit augue a, condimentum erat. Cras eget magna mauris. Etiam iaculis erat pretium magna adipiscing, sed egestas est egestas. Pellentesque vitae dolor eget augue dignissim imperdiet ut ac turpis.

Nulla gravida felis ut tortor ultrices commodo. Sed condimentum eu nunc vel malesuada. Suspendisse vestibulum, arcu sed auctor cursus, tortor dolor mollis enim, a aliquam metus arcu sed neque. Nam egestas, elit a vehicula interdum, sem urna placerat turpis, in lobortis velit turpis sed magna. Cras sed aliquam augue. Quisque quis augue id lectus rhoncus semper. Fusce malesuada elit at arcu auctor, pulvinar adipiscing enim dapibus. Nulla faucibus ante mi, placerat scelerisque metus placerat at.

Donec ac velit quis nisi tincidunt mollis vel non leo. Vivamus facilisis nisi ipsum, eleifend elementum nibh placerat ac. Duis velit leo, bibendum vel libero quis, pharetra dignissim diam. Mauris at magna a mauris malesuada eleifend. Nam in cursus nisl. Suspendisse porta molestie justo vel feugiat. Phasellus at elit quis felis rutrum laoreet. Suspendisse potenti. Donec viverra ligula non neque mollis dignissim. Aenean ultrices, nunc ac placerat tincidunt, ipsum eros porttitor risus, eu tincidunt ante libero sed risus. Suspendisse et lorem ligula. Ut viverra ipsum tellus, sit amet luctus lacus tincidunt a. Ut mollis arcu eget justo tincidunt, at commodo diam tristique. Nam sodales, nunc sed egestas bibendum, justo libero ultrices neque, a consequat nulla urna a augue. Aenean fringilla, nunc non mollis varius, nunc magna pharetra nibh, eu condimentum sapien leo non elit. Nulla eu leo in nulla auctor accumsan ut ut ligula.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas porta facilisis urna, vel pharetra orci bibendum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis erat a neque porta tristique et in dui. Vestibulum cursus odio sed aliquet ullamcorper. Fusce quis magna vel ligula commodo molestie a id enim. Nullam eget nunc a quam ultricies vulputate. In non pharetra nibh, sed lacinia magna. Donec id molestie nisl. Praesent sodales cursus gravida. Aliquam et tempus arcu. Aliquam dictum, odio quis vulputate vestibulum, est purus facilisis erat, in gravida velit mi sit amet ipsum.

Pellentesque tempus orci erat, sed hendrerit diam semper a. Nullam quis dolor blandit, mattis neque in, tempor mauris. Curabitur nec massa non nibh pulvinar blandit. Vestibulum tristique est eros, vel facilisis dui tempor sed. Curabitur id ultrices diam, a auctor erat. Vivamus pharetra enim nunc. Ut vitae sapien odio. Etiam vitae mollis dui. Etiam sem erat, ullamcorper a sapien commodo, volutpat vestibulum odio. Sed ac eros a ante laoreet congue non ac turpis. Suspendisse quam sem, dignissim sed augue ac, tempor mollis magna. Quisque mi nunc, ullamcorper sed blandit sit amet, pharetra id quam. Fusce lobortis, libero eu adipiscing bibendum, massa metus mollis massa, eu fermentum arcu mauris in nibh. Aliquam est nulla, iaculis consectetur ullamcorper in, aliquet quis purus. Nullam risus augue, dapibus vel massa ac, interdum cursus est.

Suspendisse mattis massa augue, id tempor dui aliquet id. Donec a nisl leo. Integer eu nulla ac lectus sodales commodo. Sed eros leo, aliquet nec imperdiet in, sollicitudin a neque. Aenean et nisi est. Suspendisse luctus consequat velit a ornare. Nam tristique laoreet tortor, et aliquam libero sollicitudin sed. Cras nisl nibh, tincidunt nec congue non, tincidunt vitae ligula. Nullam vel est eu lectus rutrum scelerisque. Mauris id dui in nibh posuere pretium ac a eros. Nullam cursus lacinia laoreet. Etiam ligula nunc, gravida a urna ac, eleifend bibendum tortor.

Nullam vestibulum lacus in risus rutrum, ut pretium ligula dignissim. Sed ligula nunc, interdum in neque convallis, auctor dictum erat. Donec hendrerit, neque vel mollis pretium, lacus lorem malesuada ligula, sed porttitor nisi dui ultrices orci. Nulla suscipit velit non dictum aliquam. Nullam quis rutrum dolor. Vivamus hendrerit egestas eros, non lobortis mauris feugiat ultrices. Maecenas lacus risus, blandit in lacus et, aliquam venenatis nibh. Nam venenatis, lectus ut tincidunt lobortis, dui neque elementum tellus, a pellentesque leo tellus vel velit. Maecenas adipiscing bibendum erat, vitae semper felis ultricies eu.

Nulla ullamcorper augue lectus. Etiam nec sagittis mauris. Curabitur eu porttitor tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas egestas dui eget libero tristique ullamcorper. Pellentesque nec rutrum risus. Ut suscipit suscipit risus condimentum lacinia.

Vestibulum imperdiet pretium arcu, vel blandit arcu condimentum nec. Phasellus sed ligula vitae tortor feugiat rutrum laoreet a arcu. Duis imperdiet nunc ut semper sollicitudin. Nunc congue consectetur metus, eu commodo ipsum dapibus vel. Fusce nisi tellus, sagittis convallis aliquam dapibus, fringilla euismod libero. Nullam rhoncus elementum arcu ac euismod. Aliquam mattis ligula quam, nec accumsan eros tincidunt nec. Nullam a dolor at sapien dapibus fermentum non vitae orci. Curabitur euismod eu nunc ut sollicitudin. Integer at odio sit amet sapien adipiscing pretium sit amet sodales lorem. Donec pulvinar ligula non libero lacinia aliquet. Fusce metus nunc, fringilla vitae bibendum non, scelerisque eget lectus. In hendrerit non risus id feugiat. Donec eget ullamcorper est.

Nam in faucibus turpis. Proin sodales diam risus, at porttitor lacus dignissim vitae. Phasellus sed porttitor purus, eget posuere lorem. Nunc sit amet sapien posuere, elementum elit eget, hendrerit urna. Phasellus rutrum diam vel purus porttitor tincidunt. Nam varius interdum nisi. Maecenas laoreet nibh enim, quis sollicitudin urna consequat non. Donec ac consequat lectus. Quisque eget rutrum quam, eu adipiscing felis. In non euismod lorem, sit amet imperdiet lacus. Fusce vulputate eleifend feugiat. Nulla sollicitudin libero lectus, eu volutpat sem dictum tristique. Ut auctor hendrerit nunc nec varius.

Aliquam vel blandit orci. Nam et ornare purus, sed condimentum neque. Nulla eleifend nisl id diam sollicitudin ornare. Proin hendrerit pellentesque tempus. Phasellus eget posuere lorem. Vivamus vitae turpis eu odio tristique tristique. Curabitur sed velit quis ipsum malesuada ultricies. Ut eget tortor lectus. Vestibulum at nunc gravida, fringilla sem non, commodo arcu. Quisque eu massa eu leo luctus blandit eget nec eros. Nunc tincidunt nisl vestibulum ipsum commodo, adipiscing vulputate turpis facilisis. Sed id magna elit. Mauris consequat gravida tellus. Vestibulum interdum convallis nisi, et ultricies risus aliquet ut. Nullam vitae quam nisi.

Nam ut ultrices urna. Donec cursus volutpat nulla ut malesuada. Mauris vel viverra diam. Aliquam volutpat urna in libero pulvinar tristique. Pellentesque egestas aliquam fringilla. In ornare nunc urna, sit amet pretium risus feugiat nec. Proin nec erat tortor. Integer rhoncus vel libero vel mattis. Suspendisse tristique turpis augue, eget blandit tortor tempus id. Proin vel volutpat risus, vitae consequat augue. Phasellus in mauris a neque aliquet vulputate. Proin eu quam vel lectus imperdiet laoreet.

Mauris ac magna condimentum, scelerisque purus in, mattis odio. Nunc ornare augue auctor tortor faucibus, sed rhoncus ipsum auctor. Suspendisse condimentum, tellus sit amet vestibulum blandit, odio diam dictum tellus, et aliquet augue nisl sed magna. Vestibulum at congue dui. Ut id tempor ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vestibulum scelerisque auctor. Etiam sed convallis quam, a sollicitudin est.

Suspendisse cursus risus purus, in iaculis erat pretium eu. Cras eu vulputate turpis, sed blandit neque. Suspendisse adipiscing, tortor in semper porttitor, urna dolor venenatis neque, sed aliquam libero massa vel orci. Nullam placerat feugiat nisl, non facilisis odio pretium non. Aenean consequat mauris sed pretium laoreet. Aenean dictum eros in urna gravida pretium. Curabitur faucibus tempor massa vitae porttitor. Duis placerat imperdiet quam, ut vestibulum augue porta id. Mauris tempus lacus eget molestie mattis. Integer ac orci pharetra tellus fringilla blandit. Proin nec fringilla diam. Aliquam lacinia tellus id convallis feugiat. Nullam faucibus, lectus et luctus laoreet, tellus ipsum accumsan augue, dictum vulputate justo massa eu leo. Praesent fermentum odio ut justo convallis, sit amet mattis libero pretium. Nunc pretium sapien vel odio placerat lobortis.
*/
//@import "utils/prefixes";

.transform(@trans){
  -webkit-transform:@trans;
  transform:@trans;
  -moz-transform:@trans;
}
.animation(@annim){
  -webkit-animation: @annim;
  -moz-animation: @annim;
  animation: @annim;
}

.transform(@trans){
  -webkit-transform:@trans;
  transform:@trans;
  -moz-transform:@trans;
}

.show-hide-animation{
  position: absolute;
  width: 100%;
}
.show-hide-animation.ng-hide-remove,
.show-hide-animation.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.show-hide-animation.ng-hide-add {
  -webkit-animation:0.5s hide forwards;
  animation:0.5s hide forwards;

}

@keyframes hide {
  from { opacity:1;
    .transform(translate(0px));
  }
  to { opacity:0;
    .transform(translate(30px));
  }
}

@-webkit-keyframes hide {
  from { opacity:1;
    .transform(translate(0px));
  }
  to { opacity:0;
    .transform(translate(30px));
  }
}

.show-hide-animation.ng-hide-remove {
  -webkit-animation:1s show forwards;
  animation:1s show forwards;
  //animation-delay:0.5s;
  //-webkit-animation-delay:0.5s;
}

@keyframes show {
  from { opacity:0;
    .transform(translate(30px));
  }
  to { opacity:1;
    .transform(translate(0px));
  }
}

@-webkit-keyframes show {
  from { opacity:0;
    .transform(translate(30px));
  }
  to { opacity:1;
    .transform(translate(0px));
  }
}

.talkList.ng-hide-add {
  .animation(myfirst 0s ease forwards);
}
.talkList.ng-hide-remove{
  .animation(myfirst2 0.5s ease 0.5s forwards);
}
.animated
{
  .animation(myfirst 0.5s ease forwards);
}
.animated2
{
  .animation(myfirst2 0.5s ease 0.5s forwards);
}
.backtologin
{
  .animation(myfirst 0.5s ease 0.5s forwards);
}
.backtologin2
{
  .animation(myfirst2 0.5s ease 1s forwards);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
  0% {
    .transform(translate(0px));
    opacity:1;

  }
  100% {
    .transform(translate(30px));
    z-index: 10;
    opacity:0;
  }
}

@-webkit-keyframes myfirst2
{
  from {
    .transform(translate(20px));
    opacity:0;
  }
  to {
    .transform(translate(0px));
    z-index: 11;
    opacity:1;
  }
}


body{
  font-family: 'Titillium Web', sans-serif;
}
#loginBox{
  margin: auto;
  width: 60%;
}
#registrationBox{
  margin: auto;
  width: 60%;
}
#container{
  width: 100%;

}
#registrationContainer{
  margin: auto;
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: 10;
  opacity: 1;
}
#loginContainer{
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  z-index: 11;
}

.talks .talk{
  min-width: 100px;
  width: 90%;
}
.button_action{
  display: none;
}
.talk:hover .button_action{
  display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.shown{
  display: block !important;
}

.ui.form .fields.error_true_true .field textarea, .ui.form .fields.error_true_true .field input[type=text], .ui.form .fields.error_true_true .field input[type=email], .ui.form .fields.error_true_true .field input[type=date], .ui.form .fields.error_true_true .field input[type=password], .ui.form .fields.error_true_true .field input[type=number], .ui.form .fields.error_true_true .field input[type=url], .ui.form .fields.error_true_true .field input[type=tel], .ui.form .field.error textarea, .ui.form .field.error input[type=text], .ui.form .field.error input[type=email], .ui.form .field.error input[type=date], .ui.form .field.error input[type=password], .ui.form .field.error input[type=number], .ui.form .field.error input[type=url], .ui.form .field.error input[type=tel] {
  background-color: snow !important;
  border-color: #E7BEBE !important;
  border-left: 0 !important;
  color: #D95C5C !important;;
  padding-left: 1.2em !important;;
  border-bottom-left-radius: 0 !important;;
  border-top-left-radius: 0 !important;;
  -webkit-box-shadow: .3em 0 0 0 #D95C5C inset !important;;
  box-shadow: .3em 0 0 0 #D95C5C inset !important;
}


.ui.form .ng-invalid.ng-dirty{
  background-color: snow !important;
  border-color: #E7BEBE !important;
  border-left: 0 !important;
  color: #D95C5C !important;;
  padding-left: 1.2em !important;;
  border-bottom-left-radius: 0 !important;;
  border-top-left-radius: 0 !important;;
  -webkit-box-shadow: .3em 0 0 0 #D95C5C inset !important;;
  box-shadow: .3em 0 0 0 #D95C5C inset !important;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}