@(message: String)

@main("JMaghreb Call For Paper") {
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
} {
    <div  ng-app="jmaghreb" ng-controller="AdminCtrl">
        <div class="ui fixed transparent main small menu" style="top : 0 ; left : 0" >
            <a class="item" href="/admin">
                <i class="home icon"></i> Home
            </a>
            <a class="active item" href="/adminTalks">
                <i class="home icon"></i> Talks
            </a>
            <a class="item" href="/adminSpeaker">
                <i class="home icon"></i> Create Speaker
            </a>
            <div class="right menu">


                <div class="item">
                    <a class="ui blue button" href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <form name="tForm" style="margin-top:50px ;"  novalidate>
            <div class="ui one column grid show-hide-animation " ng-show="form">
                <div class="row " >
                    <div class="column">
                        <div class="ui form segment">
                            <button ng-disabled="tForm.$invalid" ng-class="disabled(tForm.$invalid)" class="ui small blue submit button" ng-click="saveTalk()">Save</button>
                            <button class="ui small button" ng-click="cancel()">
                                cancel
                            </button>
                            <div class="field">
                                <label>Title</label>
                                <div class="ui left labeled icon input">
                                    <input type="text" placeholder="Title" ng-required="true" ng-model="selectedTalk.title">
                                    <i class="book icon"></i>
                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Schedule</label>
                            <div class="cbutton_action" style="float : left">
                                <div>from <select ng-model="selectedTalk.from.h">
                                    <option value=""></option>
                                    <option ng-repeat="h in hours" value="{{h}}">{{h}}</option>
                                </select>
                                    <select ng-model="selectedTalk.from.m">
                                        <option value=""></option>
                                        <option ng-repeat="h in minutes" value="{{h}}">{{h}}</option>
                                    </select>
                                </div>
                                <div>to
                                    <select ng-model="selectedTalk.to.h">
                                        <option value=""></option>
                                        <option ng-repeat="h in hours" value="{{h}}">{{h}}</option>
                                    </select>
                                    <select ng-model="selectedTalk.to.m">
                                        <option value=""></option>
                                        <option ng-repeat="h in minutes" value="{{h}}">{{h}}</option>
                                    </select>
                                </div>
                                <div>Day
                                    <select ng-model="selectedTalk.day.value" ng-change="updateValue(selectedTalk.day,'confDays')">
                                        <option value=""></option>
                                        <option ng-repeat="h in config.confDays" value="{{h.value}}">{{h.label}}</option>
                                    </select>
                                </div>
                                <div>Room

                                    <select ng-model="selectedTalk.room.value" ng-change="updateValue(selectedTalk.room,'room')">
                                        <option value=""></option>
                                        <option ng-repeat="r in config.rooms" value="{{r.value}}">{{r.label}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>


                            <div class="field">

                                <div class="ui left labeled icon input">
                                    <select ng-model="selectedTalk.language.value" ng-required="true" ng-change="updateValue(selectedTalk.language,'lang')">
                                        <option value="">...</option>
                                        <option ng-repeat="lang in config.languages | orderBy:predicateList:reverse" value="{{lang.value}}">
                                            {{lang.label}}</option>
                                    </select>
                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Session type</label>
                                <div class="ui left labeled icon input">
                                    <select ng-model="selectedTalk.type.value" ng-required="true" ng-change="updateValue(selectedTalk.type,'type')">
                                        <option value="">...</option>
                                        <option ng-repeat="lang in config.sessionTypes | orderBy:predicateList:reverse " value="{{lang.value}}">
                                            {{lang.label}}</option>
                                    </select>
                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Session track</label>
                                <div class="ui left labeled icon input">
                                    <select ng-model="selectedTalk.track.value" ng-required="true" ng-change="updateValue(selectedTalk.track,'track')">
                                        <option value="">...</option>
                                        <option ng-repeat="lang in config.tracks | orderBy:predicateList:reverse " value="{{lang.value}}">
                                            {{lang.label}}</option>
                                    </select>
                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Audience experience</label>
                                <div class="ui left labeled icon input">
                                    <select ng-model="selectedTalk.experience.value" ng-required="true" ng-change="updateValue(selectedTalk.experience,'exp')">
                                        <option value="">...</option>
                                        <option ng-repeat="lang in config.audienceExperiences | orderBy:predicateList:reverse " value="{{lang.value}}">
                                            {{lang.label}}</option>
                                    </select>
                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Other speakers</label>
                                <div class="" ng-repeat="speaker in selectedTalk.otherSpeakers  track by $index" style="margin-bottom: 5px;">
                                    <div ng-if="speaker.lname == ''" class="ui left labeled icon input">
                                        <input type="text" placeholder="Title" ng-model="speaker.id" ng-change="findSpeaker(speaker)">
                                        <i class="user icon"></i>
                                        <div class="ui corner label">
                                            <i class="icon asterisk"></i>
                                        </div>
                                    </div>
                                    <div ng-if="speaker.lname != ''">
                                        <div class="extra images">
                                            <img style="height: 50px" src="{{speaker.image}}" />
                                            {{speaker.fname}}, {{speaker.lname}}
                                            <button class="ui small icon red button" ng-click="deleteSpeaker($index)"><i class="ui remove icon"></i></button>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                </div>
                                <div class="ui left labeled input">

                                    <button class="ui small icon button" ng-click="addSpeaker(selectedTalk)"><i class="add icon"></i></button>

                                </div>
                            </div>
                            <div class="field">
                                <label>Abstract</label>
                                <div class="ui left labeled icon input">
                                    <textarea ng-model="selectedTalk.abstract" ng-required="true"></textarea>

                                    <div class="ui corner label">
                                        <i class="icon asterisk"></i>
                                    </div>
                                </div>
                            </div>

                            <button ng-disabled="tForm.$invalid" ng-class="disabled(tForm.$invalid)" class="ui small blue submit button" ng-click="saveTalk()">Save</button>
                            <button class="ui small button" ng-click="cancel()">
                                cancel
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div class="ui grid show-hide-animation " ng-show="!form">
            <div class="row" style="margin-top:50px ;" ng-show="!form" >
                <div class=" five wide column" >
                <div style="position: fixed;width: inherit">
                    <form>

                        <div class="ui one column grid ">
                            <div class="row " >
                                <div class="column">
                                    <h4>Filter</h4>
                                    <div class="ui form " style="margin: 20px;">

                        <div class="field">
                            <label>Language</label>
                            <div class="ui left labeled icon input">
                                <select ng-model="myFilter.language.value" ng-change="updateValue(myFilter.language,'lang',myFilter,'language')">
                                    <option value="">...</option>
                                    <option ng-repeat="lang in config.languages | orderBy:predicateList:reverse" value="{{lang.value}}">
                                        {{lang.label}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="field">
                            <label>Session type</label>
                            <div class="ui left labeled icon input">
                                <select ng-model="myFilter.type.value" ng-change="updateValue(myFilter.type,'type',myFilter,'type')">
                                    <option value="">...</option>
                                    <option ng-repeat="lang in config.sessionTypes | orderBy:predicateList:reverse " value="{{lang.value}}">
                                        {{lang.label}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="field">
                            <label>Session track</label>
                            <div class="ui left labeled icon input">
                                <select ng-model="myFilter.track.value" ng-change="updateValue(myFilter.track,'track',myFilter,'track')">
                                    <option value="">...</option>
                                    <option ng-repeat="lang in config.tracks | orderBy:predicateList:reverse " value="{{lang.value}}">
                                        {{lang.label}}</option>
                                </select>

                            </div>
                        </div>

                        <div class="field">
                            <label>Session status</label>
                            <div class="ui left labeled icon input">
                                <select ng-model="myFilter.status">
                                    <option value="">...</option>
                                    <option value="1">In progress</option>
                                    <option value="2">Completed</option>
                                    <option value="3">Accepted</option>
                                    <option value="4">Rejected</option>
                                    <option value="5">Deleted</option>
                                </select>

                            </div>
                        </div>

                        <div class="field">
                            <label>Title</label>
                            <div class="ui left labeled icon input">
                                <input type="text" ng-model="myFilter.title" />
                            </div>
                        </div>
                        <div class="field">
                            <label>Abstract</label>
                            <div class="ui left labeled icon input">
                                <input type="text" ng-model="myFilter.abstract" />
                            </div>
                        </div>
                         <div>
                             {{myTalks.length}} results found.
                         </div>
                         </div>
                        </div>
                    </div>
                </div>


                    </form>
                </div>
                </div>
                <div class=" ten wide column">
                    <div class="ui  talks">
                    <div class="ui blue raised segment talk" style="width : 100 % ; min-height : 100px ;" ng-repeat="talk in myTalks = (talks | orderBy:predicate:reverse | filter:myFilter)  ">
                            <div ng-show="talk.status==2" class="ui blue ribbon label">Completed</div>
                            <div ng-show="talk.status==3" class="ui green ribbon label">Accepted</div>
                            <div ng-show="talk.status==4" class="ui red ribbon label">Rejected</div>
                            <div ng-show="talk.status==5" class="ui red ribbon label">Deleted</div>
                            <h2>{{talk.title}}</h2>
                            <div class="content">
                                <p ng-repeat="aSpeaker in talk.speakers ">
                                    <img src="{{aSpeaker.image}}" style="width: 100px;" >
                                    {{aSpeaker.lname}}, {{aSpeaker.fname}}</p>
                                <p>
                                    <b>Track: </b>{{talk.track.label}}      <br/>
                                    {{talk.abstract}}
                                </p>

                                <div class="cbutton_action" style="float : right">
                                    <div class="ui icon blue small buttons">
                                        <button class="ui button" ng-show="talk.status!=5" ng-click="edit(talk)" title="complete"><i class="edit icon"></i></button>
                                        <button class="ui button" ng-show="talk.status==1" ng-click="changeStatus(talk,2,false)"><i class="checkmark sign icon"></i></button>
                                        <button class="ui button" ng-show="talk.status==2" ng-click="changeStatus(talk,3,true)"><i class="checkmark sign icon"></i></button>
                                        <button class="ui red button" ng-click="changeStatus(talk,4,true)"><i class="level down sign icon"></i></button>
                                        <button class="ui button" ng-show="talk.status!=5" ng-click="changeStatus(talk,5,false)"><i class="trash icon"></i></button>
                                         <div class="ui divider"></div>
                                        <button class="ui red button" ng-click="changeStatus(talk,4,false)"><i class="level down sign icon"></i></button>
                                        <button class="ui button" ng-show="talk.status==2" ng-click="changeStatus(talk,3,false)"><i class="checkmark sign icon"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="ui right blue corner label" ng-show="talk.loading">
                                <i class="loading icon"></i>
                            </div>
                            <div class="ui right red corner label" ng-show="talk.error">
                                <i class="attention icon"></i>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

} {

}
