@(message: String)

@main("JMaghreb Call For Paper") {
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
} {
    <div class="ui fixed transparent main small menu" style="top: 0;left: 0" ng-controller="">
        <a class="active item" href="/admin">
            <i class="home icon"></i> Home
        </a>

        <div class="right menu">


            <div class="item">
                <a class="ui teal button" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div id="container" ng-app="jmaghreb" style="margin-top : 50 px ;" ng-cloak>

        <div id="profileContainer" ng-controller="AdminCtrl" style="margin-top: 50px;margin-bottom: 50px;">

            <div class="ui form segment" id="registrationBox">
                <h2 class="ui dividing header">Dates</h2>
                <div class="two fields">
                    <div class="field">
                        <label>Start date</label>
                        <input placeholder="dd/mm/yyyy" type="text" ng-model="config.startDate">

                    </div>
                    <div class="field">
                        <label>End date</label>
                        <input placeholder="dd/mm/yyyy" type="text" ng-model="config.endDate">
                    </div>
                </div>

                <h2 class="ui dividing header">Conference days</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label En</th>
                            <th>Label Fr</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.confDays | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Label" type="text" ng-model="item.labelFr"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.confDays,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="5">
                            <button class="ui blue labeled icon small button" ng-click="addLang('confDays')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <h2 class="ui dividing header">Languages</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.languages | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.languages,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('lang')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <h2 class="ui dividing header">Rooms</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.rooms | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.rooms,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('room')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <h2 class="ui dividing header">Session's types</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.sessionTypes | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.sessionTypes,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('type')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <h2 class="ui dividing header">Tracks</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.tracks | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.tracks,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('track')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>


                <h2 class="ui dividing header">Audience Experience</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Label</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.audienceExperiences | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Label" type="text" ng-model="item.label"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.value"></td>
                            <td><input placeholder="Value" type="text" ng-model="item.order"></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.audienceExperiences,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('exp')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <h2 class="ui dividing header">Reviewers</h2>
                <table class="ui table segment">
                    <thead>
                        <tr><th>Email</th>
                            <th>Send Email</th>
                            <th>Delete</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="item in config.reviewers | orderBy:predicate:reverse track by $index ">
                            <td><input placeholder="Email" type="text" ng-model="item.email"></td>
                            <td><button class="ui small icon blue button" ng-click="activateRev(config.reviewers,item,$index)"><i class="ui mail outline icon"></i></button></td>
                            <td><button class="ui small icon red button" ng-click="delete(config.reviewers,item,$index)"><i class="ui remove icon"></i></button></td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="4">
                            <button class="ui blue labeled icon small button" ng-click="addLang('reviewers')"><i class="add icon"></i> Add</button>
                        </th>
                        </tr></tfoot>
                </table>

                <div style="width : 100 % ; text-align : center">
                    <div class="ui buttons center">
                        <button class="ui blue button" ng-click="save()">Save</button>
                    </div>
                </div>
                <div class="ui success message show-hide-animation" ng-show="saveSuccess" style="position: fixed;top: 100px;width: 50%;">
                    <i class="close icon" ng-click="saveSuccess = false"></i>
                    <div class="header">
                        Saved successfully.
                    </div>
                </div>
            </div>
        </div>
    </div>


} {

}
